<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./view_mail_nuevo_usuario.css
    body
        h4 PLANIFICACION CONFIRMADA
        p Este correo es enviado de manera automática, favor no responder este correo.
        p Estimado (a) 

        p Le comunicamos que se ha confirmado la planificacion para el contenedor  <strong>
            =contenedor
        </strong>.

        p La fecha estimada de despacho es : <strong>
            =fecha_descarga
        </strong>


        p El listado de clientes es: 

            <ul> 
                each cliente in clientes.length ? clientes :['SIN REGISTROS']
                    li=cliente
            </ul>
        
        p Saludos cordiales,  

        p <strong>Por favor no responder a este remitente, esta es una casilla sin supervisión.</strong>

        table(style="width:auto; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px;")
            tr
                th(style="align-content: left; text-align: left; background-color: #D6D6D6; padding: 10px;") 
                td
                        img(src='/Logo.png' alt='')
                td 
                    <p> <strong>WS Cargo SPA</strong>   
                    <p> Oficina: Av Andrés Bello 2299, Of 701, Providencia
                    <p> Bodega:  Camino Noviciado N° 1945, comuna de Pudahuel, Región Metropolitana