<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./view_mail_nuevo_usuario.css
    body
        h4 NUEVA TARIFA
        p Este correo es enviado de manera automática, favor no responder este correo.
        p Estimado (a) 
            =nombre

        p Le comunicamos que las tarifas marítimas en el último tiempo han subido considerablemente y hemos evitado traspasar esos permanentes cambios a nuestros clientes. Las navieras están realizando cambios semanalmente, cuando antes lo hacían de manera mensual. Esto está afectando a todos los importadores de Chile. 

        p Nuestra tarifa subirá a <strong>US 295 por metro cúbico </strong> para todas las mercaderías que ingresen a Yiwu <strong>a contar del 07 de junio</strong>. 
        p No podemos garantizar el tiempo en que se mantendrán estos precios ya que la fluctuación del mercado se va viendo semana a semana. 

        p Nuestro servicio es todo incluido, por lo que confiamos que seguimos siendo la alternativa más conveniente para su importación. 

        p Favor tener presente los siguientes puntos: 

            <ul> 
                <li> El base seguirá siendo de US$ 100-.  </li>
                <li> Se respeta la tarifa cotizada para todas las cargas ingresadas a Yiwu antes del 07 de junio</li>
                <li> Las salidas de contenedores se mantendrán para todas las semanas pero seguiremos consolidando según orden de llegada del ultimo proveedor informado. </li>
            </ul>
        
        p Agradecemos su confianza y esperamos que podamos seguir contando con usted. 
        p Saludos cordiales,  

        p <strong>Por favor no responder a este remitente, esta es una casilla sin supervisión.</strong>

        table(style="width:auto; border: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px;")
            tr
                th(style="align-content: left; text-align: left; background-color: #D6D6D6; padding: 10px;") 
                td
                        img(src='/Logo.png' alt='')
                td 
                    <p> <strong><strong>WS Cargo SPA</strong>   
                    <p> Oficina: Av Andrés Bello 2299, Of 701, Providencia
                    <p> Bodega:  Camino Noviciado N° 1945, comuna de Pudahuel, Región Metropolitana